.new-todo_container{
    margin:5vh auto;
    display:block;
    width:40%;
    min-width: 20rem;
    text-align: center;
    background-color:rgb(245, 238, 146);
    border-radius:12px;
    /* padding:2vh; */
}

.new-todo_btn{
    background-color:#fcd144;
    border:2px solid #fcd144;
    padding:10px 2rem;
    font-size: 1.2rem;
    border-radius:10px;
    margin:2vh auto;
    cursor: pointer;
}

.new-todo_btn:hover{
    background-color:#fdde78;
    border:2px solid #fac929;
}

@media (max-width:500px){
    .new-todo_container{
        min-width:80vw;
    }
}