.todo-container{
    background-color: #f3c327;
    border-radius: 12px;
    margin-bottom:15px;
    height: 6rem;
    display:flex;
    align-items: center;
    gap:1rem;
}

.todo-details{
    flex:1;
}

.todoItem-condition{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
    margin-right:10px;
}

.pending{
    color:red;
}

.completed{
    color:green;
}

.todo_title{
    flex:1;
    font-size: 1.4rem;
    text-align: center;
}

.todoItem_status{
    font-size:1.2rem;
}

.delete_btn{
    background-color:rgb(31, 30, 30);
    border:2px solid rgb(31, 30, 30);
    color:white;
    padding:4px 0.5rem;
    font-size: 1.2rem;
    border-radius:6px;
    margin:2vh 1vw;
    cursor: pointer; 
    outline: none;
}

.delete_btn:hover{
    background-color:rgb(51, 49, 49);
    border:2px solid rgb(51, 49, 49);
}

@media (max-width:500px)
{
    
    .todo-container{
        gap:0.2rem;
    }
}